 h1 {
    color:orangered;
    text-align: center;
}
#project-container {
    width: 100vw;
    max-width: 85rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
}


.projects {
    font-size: 18px;
    background-color: #30406b56;
    box-shadow: rgba(64, 146, 217, 0.503) 0px 8px 18px;
    padding: 18px 28px;
    text-align: justify;
    max-width: 500px;
    margin-left: 7%;
    margin-right: 10%;
}

.projects2 {
    font-size: 18px;
    background-color: #30406b56;
    box-shadow: rgba(64, 146, 217, 0.503) 0px 8px 18px;
    padding: 18px 28px;
    text-align: justify;
    max-width: 500px;  
}

.project-btn {
    background-color: orangered;
    color: white;
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
}

.project-btn:hover {
    box-shadow: rgba(251, 131, 45, 0.673)  0px 3px 8px;
}